.procedures-main-home {
    overflow: hidden;
    padding-top: 50px !important;
    padding-bottom: 100px !important;
}

.procedures-header {
    background: url(assets/procedure-background.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    padding: 180px;
}

.procedures-header-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.procedures-main-title {
    font-family: 'Tajawal', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: #F0F0F0;
    position: absolute;
    top: 39.333333%;
    right: 13%;
}

.procedures-main-content {
    padding-top: 50px !important;
}

.procedures-main-subtitle {
    font-family: 'Markazi Text', serif;
    font-size: 24px;
    color: #0D0D0D;
}

.procedure-item-link {
    text-decoration: none;
    font-family: 'Markazi Text', serif;
    font-size: 24px;
    color: #0D0D0D;
}

.procedure-item-link:hover {
    color: #DF193A;
    text-decoration: underline;
    transition-duration: 0.3s;
}

.procedure-item {
    list-style-type: circle;
    padding: 10px;
}